@{
    ViewData["Create Note"] = "Home Page";
}
<form action="/NoteStorage/SavedNote/">
    <style>
        form {
            height: 2000px;
            background-image: url(https://html5book.ru/wp-content/uploads/2015/10/background56.jpg)
        }
        textarea {
            width: 400px;
            height: 200px
        }
    </style>
    <table>
        <tr>
            <td>
                <label for="name">Name</label>
            </td>

            <td>
                <input type="text" name="name" />
            </td>
        </tr>

        <tr>
            <td>
                <label" for="text">Text</">
            </td>

            <td>
                <textarea typeof="text" name="text"> </textarea>
            </td>
        </tr>
    </table>
    <input type="submit" value="Save" />
    <div>
        <a href="/NoteStorage/GetNotes/" class="active">Get Notes</a>
    </div>
</form>
